<!DOCTYPE html>
{% load static %}
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license. 
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>ThermoCheck</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'custom.css'%}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-fire"></span> 
                	ThermoCheck
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="https://ros-temphumid.herokuapp.com/">Home</a>
                    </li>
                    <li>
                        <a href="https://ros-temphumid.herokuapp.com/history/">History</a>
                    </li>
                    <li>
                        <a href="https://ros-temphumid.herokuapp.com/admin/">Settings</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>It is {{temp}}°C and {{humidity}}% humidity.</h1>
                <p></p>
                <a href="https://ros-temphumid.herokuapp.com/history/" class="btn btn-primary btn-lg">View History</a>
            </div>
        </div>
    </header>
</body>
</html>